* {
    font-family: 'Inter';
    font-weight: 400;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 12%;
}

body {
    background: #E5E5E5;
}

main {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.text-area {
    background: #E5E5E5;
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    color: #0A3871;
    font-size: 32px;
}

::placeholder {color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.adverterncia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.adverterncia h6 {
    color: #495057;
    font-size: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.adverterncia img {
    height: 13px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    margin-right: 1em;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.btn-encriptar:hover {
    background-color: #082f5e;
}

.btn-desencriptar:hover {
    background: #c6ced8;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.mensaje-encriptado p {
    width: 80%;
    font-size: 16px;
    line-height: 150%;
}